<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdd"></binding>
        <binding name="BasicHttpBinding_ISearch"></binding>
        <binding name="BasicHttpBinding_ISave"></binding>
        <binding name="BasicHttpBinding_IGet"></binding>
        <binding name="BasicHttpBinding_IRemove"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:45793/Add.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAdd" contract="IAdd"
          name="BasicHttpBinding_IAdd" />
      <endpoint address="http://localhost:45793/Search.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ISearch" contract="ISearch"
          name="BasicHttpBinding_ISearch" />
      <endpoint address="http://localhost:45793/Save.svc" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpBinding_ISave" contract="ISave"
         name="BasicHttpBinding_ISearch" />
      <endpoint address="http://localhost:45793/Get.svc" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpBinding_IGet" contract="IGet"
         name="BasicHttpBinding_ISearch" />
      <endpoint address="http://localhost:45793/Remove.svc" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpBinding_IRemove" contract="IRemove"
         name="BasicHttpBinding_ISearch" />
    </client>
  </system.serviceModel>
</configuration>