<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUser" />
        <binding name="BasicHttpBinding_IProduct" />
        <binding name="BasicHttpBinding_IUser1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IProduct">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUser" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/User.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUser" contract="WCFService.IUser"
        name="BasicHttpBinding_IUser" />
      <endpoint address="http://localhost:8080/User" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IUser" contract="WCFHost_Console.IUser"
        name="WSHttpBinding_IUser">
        <identity>
          <userPrincipalName value="DESKTOP-V1GJOFV\Mas" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/Product" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProduct" contract="WCFHost_AutoMapping.IProduct"
        name="BasicHttpBinding_IProduct" />
      <endpoint address="http://localhost:8080/User2" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUser1" contract="WCFHost_WinForm.IUser"
        name="BasicHttpBinding_IUser1" />
      <endpoint address="net.tcp://desktop-v1gjofv:809/Product.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProduct"
        contract="WCFHost_WAS.IProduct" name="NetTcpBinding_IProduct" />

      <endpoint address="http://localhost:2355/User.svc" binding="basicHttpBinding"
               bindingConfiguration="BasicHttpBinding_IUser" contract="IUser"
               name="BasicHttpBinding_IUser" />
    </client>
  </system.serviceModel>
</configuration>